<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArxOne.Ftp" version="1.2.3.0" targetFramework="net40-Client" />
  <package id="LanExchange.Network" version="1.0.0.0" targetFramework="net40-Client" />
  <package id="OneFilesystem" version="0.1.9.0-pre" targetFramework="net40-Client" />
  <package id="SSH.NET" version="2014.4.6-beta2" targetFramework="net40-Client" />
</packages>